.body {
  background-color: lightgreen;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 33%;
  height: 45%;
  margin-left: -15%;
  margin-top: -15%;
  background-color: white;
  border: seagreen 3px solid;
}

.input1 {
  background-color: darkgrey;
  width: 80%;
  height: 20%;
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: large;
  padding-left: 20px;
  box-sizing: border-box;
}

.input2 {
  background-color: darkgrey;
  width: 80%;
  height: 20%;
  position: absolute;
  left: 10%;
  top: 35%;
  font-size: large;
  padding-left: 20px;
  box-sizing: border-box;
}

.button {
  background-color: forestgreen;
  width: 80%;
  height: 20%;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 60%;
  color: white;
  font-size: large;
}

.text {
  width: 80%;
  height: 5%;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 85%;
}


